In [1]:
# Looping over the dictionaries
world = {
    "afghanistan": 30.55,
    "albania": 2.77,
    "algeria": 39.21
}

for key, value in world.items():
    print(f'{key} -- {value}')

afghanistan -- 30.55
albania -- 2.77
algeria -- 39.21

In [2]:
# Definition of dictionary
europe = {'spain': 'madrid', 'france': 'paris', 'germany': 'berlin',
          'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw', 'austria': 'vienna'}

# Iterate over europe
for key, value in europe.items():
    print("The capital of " + key + " is " + value)

The capital of spain is madrid
The capital of france is paris
The capital of germany is berlin
The capital of norway is oslo
The capital of italy is rome
The capital of poland is warsaw
The capital of austria is vienna

In [3]:
# Looping over numpy arrays

# If we are dealing with 1D numpy arrays, the looping mechanism is the same as for the 1D lists
import numpy as np
nums = np.array([13.2, 1.2, 23.2, 9.9, 5.2])

for num in nums:
    print(num)

13.2
1.2
23.2
9.9
5.2

In [5]:
# If we are dealing with 2D arrays, the looping mechanism is the same as for the 1D lists
twod_nums = np.array([
    [74, 74, 72, 72, 73, 69, 69, 71, 76, 71, 73, 73, 74, 74, 69, 70, 73, 75, 78, 79, 76, 74, 76, 72],
    [71, 75, 77, 74, 73, 74, 78, 73, 75, 73, 75, 75, 74, 69, 71, 74, 73, 73, 76, 74, 74, 70, 72, 77]
])

# Use np.nditer() to iterate over each element of the 2D array
for val in np.nditer(twod_nums):
    print(val, end=",")

74,74,72,72,73,69,69,71,76,71,73,73,74,74,69,70,73,75,78,79,76,74,76,72,71,75,77,74,73,74,78,73,75,73,75,75,74,69,71,74,73,73,76,74,74,70,72,77,

In [2]:
import pandas as pd

df = pd.DataFrame([
    ["Ammar", 22, "Computer Science"],
    ["Manaf", 21, "Software Engineering"],
    ["John", 20, "Theoretical Physics"],
    ["Haris", 21, "ML Engineering"]
])

df.columns = ["Name", "Age", "Field of Interest"]
df

    Name  Age     Field of Interest
0  Ammar   22      Computer Science
1  Manaf   21  Software Engineering
2   John   20   Theoretical Physics
3  Haris   21        ML Engineering

In [4]:
# If we were to loop through the dataframe in a traditional way as we did with the list, we'll get the column names only
for v in df:
    print(v)

Name
Age
Field of Interest

In [9]:
# Let us now iterate through rows of the dataframe

for index, row in df.iterrows():
    print("Row no. " + str(index))
    print(row, end="\n\n")

Row no. 0
Name                            Ammar
Age                                22
Field of Interest    Computer Science
Name: 0, dtype: object

Row no. 1
Name                                Manaf
Age                                    21
Field of Interest    Software Engineering
Name: 1, dtype: object

Row no. 2
Name                                John
Age                                   20
Field of Interest    Theoretical Physics
Name: 2, dtype: object

Row no. 3
Name                          Haris
Age                              21
Field of Interest    ML Engineering
Name: 3, dtype: object

In [13]:
# Printing only the values of a specific column
for index, row in df.iterrows():
    print(row.iloc[2])

# OR

print("\n")
for index, row in df.iterrows():
    print(row['Field of Interest'])

Computer Science
Software Engineering
Theoretical Physics
ML Engineering


Computer Science
Software Engineering
Theoretical Physics
ML Engineering